<router-outlet></router-outlet>

<!-- <div class="min-vh-100 vh-100 min-vw-100 vw-100">
  <nav class="navbar navbar-expand-md navbar-static-top navbar-dark bg-primary mb-1">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="../assets/Picture1.png" alt="" width="60" height="30" class="d-inline-block align-text-top">
      </a>

      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="#">Service</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="#">Contact</a>
          </li>
        </ul>
        <ul class="navbar-nav mr-auto mb-2 mb-md-0">
          <li class="nav-itempull-right">
            <a class="nav-link active" href="#">
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                class="bi bi-person-fill" viewBox="0 0 16 16">
                <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
              </svg>
              Login</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="main" style="border: 2px solid red">
    <router-outlet></router-outlet>
  </div>

  <footer class="d-flex flex-wrap justify-content-between align-items-center py-2 border-top">
    <p class="col-md-4 mb-0 text-muted">&copy; 2022 Company, Inc</p>

    <a href="/"
      class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
      <svg class="bi me-2" width="40" height="32">
        <use xlink:href="#bootstrap" /></svg>
    </a>

    <ul class="nav col-md-4 justify-content-end">
      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Home</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Features</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Pricing</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">FAQs</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">About</a></li>
    </ul>
  </footer>

</div> -->
